/* Navbar and Footer CSS Code*/




/* Footer */
.footer {
	padding-bottom: 3%;
	background-color: inherit;
	color: #707070;
	font-size: 12px;
}

.footer .fa {
	width: 50px;
	font-size: 20px;
}

.fa:hover {
	color: #c4c4c4;
}

.footer ul {
	list-style-type: none;
}