/* Navbar and Footer CSS Code*/

#navbar {
	background-color: #111111;
}

.navbar-link {
	color: #c4c4c4;
}

.navbar-link::after {
	border-color: #c4c4c4;
}

.navbar-link:hover {
	color: #707070;
}

.navbar-start {
	width: 100%;
	justify-content: space-between;
}


/* Footer */
.footer {
	padding-bottom: 3%;
	background-color: inherit;
	color: #707070;
	font-size: 12px;
}

.footer .fa {
	width: 50px;
	font-size: 20px;
}

.fa:hover {
	color: #c4c4c4;
}

.footer ul {
	list-style-type: none;
}