/* Navbar and Footer CSS Code*/

#navbar {
	background-color: #111111;
	font-size: 14px;
}

.navbar-link {
	color: #c4c4c4;
}



.navbar-link::after {
	border-color: #c4c4c4;
	display: none;
}

.navbar-link:hover {
	color: #707070;
}

.navbar-start {
	width: 100%;
	justify-content: space-between;
}

.navbar-dropdown {
	background-color: #000000;
	border-top: none;
}

.navbar-item {
	color: #c4c4c4;
}
.navbar-item.has-dropdown:hover .navbar-link {
	color: #c4c4c4;
	cursor: default;
}

a.navbar-item:hover {
	color: #eeeeee;
}

.navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
	color: #eeeeee;
}

/* Footer */
.footer {
	padding-bottom: 3%;
	background-color: inherit;
	color: #707070;
	font-size: 12px;
}

.footer .fa {
	width: 50px;
	font-size: 20px;
}

.fa:hover {
	color: #c4c4c4;
}

.footer ul {
	list-style-type: none;
}