/* Post and update styling */
#updates {
	color: #cdcdcd;
}

.post-title {
	font-size: 30px;
	font-weight: 400;
	padding: 1em 0 5px 0;
	border-bottom: 1px #ffffff solid;
	color: #ffffff;
}

.post-date {
	font-size: 18px;
	/* color: #8a8a8a; */
	font-style: italic;
	margin: 5px 0;
}

.post-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
}
