#header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.company-info {
    text-align: center;
    margin: 20px auto 0;
    max-width: 90%;
}

.sponsor-hr {
    margin: 10px auto 30px;
}