table {
    border-collapse: separate;
    border-spacing: 1vw;
    margin: 0 auto;
}

tr {
    height: 7em;
}

td {
    border: 3px solid #ffffff;
    width: 7em;
    max-width: 7em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    hyphens: manual;
    font-weight: 500;

    -webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.study-event:hover {
    background-color: #111111;
    color: white;
}

.study-event { 
    background-color: #66c7f1;
    color: #000000;
    border: 3px #ffffff solid;
    border-color: #66C7F1;
}

.lab-event:hover {
    background-color: #111111;
    color: white;
}

.lab-event {
    background-color: #dd0b70;
    color: #000000;
    border: 3px #ffffff solid;
    border-color: #DD0B70;
}

.build-event:hover {
    background-color: #111111;
    color: white;
}

.build-event {
    background-color: #9fff56;
    color: #000000;
    border: 3px #ffffff solid;
    border-color: #9FFF56;
}

.inquiry-event:hover {
    color: white;
    background-color: #111111;
}

.inquiry-event {
    background-color: #fa8e42;
    color: #000000;
    border: 3px #ffffff solid;
    border-color: #FA8E42;
}