/* Contains styles for index.html */

/* Center image */
.hero {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

@keyframes logoIntro {
	0% {opacity: 0; transform: translate(0, -2%);}
	100% {opacity: 1; transform: translate(0, 0);}
}

@keyframes reflectionIntro {
	0% {opacity: 0; transform: translate(0, 2%);}
	100% {opacity: 1; transform: translate(0, 0);}
}

#logo {
	animation-name: logoIntro;
	animation-duration: 1.2s;
    animation-timing-function: ease-in;
}

#reflection {
	animation-name: reflectionIntro;
	animation-duration: 1.2s;
    animation-timing-function: ease-in;
}

/* Title text */
.title {
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-bottom: 10%;
}
.title h1 {
	font-size: 40px;
	font-weight: 300;
}

.title h2 {
	font-size: 20px;
	font-weight: 300;
}