/* Navbar and Footer CSS Code*/

nav {
    font-family: 'Lato', sans-serif;
    font-size: 14px; /* Make responsive */
    color: #c4c4c4;
    text-decoration: none;
}

nav ul {
	/* TODO Add webkits */
	padding: 20px 2vw;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

nav ul li a:hover {
	color: #eeeeee;
}

.dropdown-wrapper {
	position: absolute;
}

.dropdown-content {
    display: none;
	position: relative;
	left: -0.7em; /* TODO: avoid hard-coding this */
	background-color: #222222;
	opacity: 0.9;
    min-width: 160px;
	z-index: 1;
	padding: 10px;
}

.dropdown-content a {
    padding: 4px 0;
    display: block;
	text-align: left;
	text-decoration: none;
	color: #c4c4c4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer */
hr {
	border: 0.5px solid #444444;
}
footer {
	background-color: #222222;
	max-width: 80vw;
	margin: 20px auto;
}

.social-media {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #707070;
	margin: 30px auto;
}

.lower-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 12px;
	margin-bottom: 2%;
}

.column {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #707070;
}

.column ul {
	font-weight: 300;
}

.subcolumn {
	margin-left: auto;
	margin-right: auto;
}

#copyright {
	display: block;
	padding: 10px 0 10px 0;
	color: #707070;
	font-size: 12px;
}

footer li a {
	text-decoration: none;
	color: inherit;
}

/* Social Media Icons */
.fa {
	padding: 0;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: #707070;
}

.fa:hover {
	color: #c4c4c4;
}