*{
    margin: 0;
}
header {
    background-image: url("../images/background.jpg");
    height: 100vh; /* Use viewport dimensions*/
    background-size: cover;
    margin-bottom: 50px;
    
}
#header-overlay {
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    opacity: 0.3;
}

.title-text {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.flex-start { -webkit-align-self: flex-start; align-self: flex-start; }

nav {
    align-self: flex-start;
}

body {
    background: #f9f9f9;
}

p {
    margin: 0 auto 20px;
    max-width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h1 {
    font-size: 500%;
}

h4 {
    font-size: 200%;
}